*.swf
src/RECOVER_main.fla
NewClass.as
src/assets/64icon.png
obj/desktopprojectConfig.old
obj/desktopprojectConfig.old
bin/ffmpeg/doc/libavdevice.html
src/sfxworks/Communications.as
bin/cgminer-4.5.0-windows/api-example.php
src/toadmins.as
src/things.txt
src/sfxworks/Untitled1.as
src/sfxworks/services/dmctrollchat.txt